[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=jacobi_my
Exec=/usr/bin/single-instance /opt/jacobi_my/bin/jacobi_my
Icon=/usr/share/icons/hicolor/80x80/apps/jacobi_my80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
